* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.endereco {
   font-family: 'Courier New', Courier, monospace;
   font-size: 1.25rem;
   background-color: rgb(242, 242, 242);
   padding: 32px 40px;
   max-width: 50%;
   margin: 150px auto;
   border-radius: 12px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-items: center;
   align-items: center;
   gap: 20px;
   box-shadow: 1px 1px 4px 2px rgb(153, 153, 153);
   position: relative;
}

.endereco div {
   width: 100%;
}

input {
   display: block;
   width: 100%;

   font-size: 1.125rem;
   padding: 4px;
   border-radius: 4px;
   border: 0px;
   box-shadow: 1px 1px 2px 2px rgb(182, 182, 182);
   border: 1px solid rgba(255, 255, 255, 0);
}

input:focus {
   outline: 0px;
   border: 1px solid rgb(164, 164, 164);
}

.complemento {
   grid-column: 1/3;
   justify-self: center;
}

.complemento input {
   grid-column: 2 span;
   
}

button {
   padding: 8px 12px;
   border-radius: 4px;
   justify-self: start;
   position: relative;
   top: 10px;
   cursor: pointer;;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
}

.nao-encontrado {
   background-color: rgb(255, 206, 177);
   padding: 12px;
   width: 140px !important;
   border-radius: 4px;
   font-size: 1rem;
   position: absolute;
   right: -140px;
   bottom: 50px;
   display: none;
   animation: aparecer 1s;
   z-index: -1;
}

.confirmacao {
   display: none;
   font-size:1rem;
   color: red;
   justify-self: left;
   position: relative;
   top: 10px;
}

.confirmacao.ativo {
   display: inline;
}

@keyframes aparecer {
   from {
      opacity: 0;
      right: 0;
   }
   to {
      opacity: 1;
      right: -140px;
   }
}

.nao-encontrado.ativo {
   display: block;
}