div.ex1 {
   width: 300px;
   height: 300px;
}

[data-fundo="azul"] {
  background-color: rgb(119, 194, 255); 
}

[data-fundo="lilas"] {
   background-color: rgb(171, 119, 255);
}

.ex2 {
   display: flex;
   margin:auto;
   width: 400px;
   height: 400px;
   border-radius: 50%;
   font-size: 1.5rem;
   text-align: left;
   background-color: rgb(168, 234, 246);
   border: 4px solid black;
}

.ex2 p {
   display: block;
   margin-left: 10px;
}

.tempo {
   margin: auto;
   
}