.js-desativo {
    display: none;
}

aside .pergunta.js-desativa-p::after {
    transform: rotate(180deg);
}

.js-resposta-desativa {
    max-height: 0 !important;
    overflow: hidden !important;
    opacity: 0 !important;
}