* {
    margin: 0;
    padding: 0;
}

.htmlMaior {
    font-size: 150%;
}

body {
    padding-bottom: 40px;
}

ul {
    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}