.menu {
   width: 60%;
   margin: auto;
   list-style: none;
   display: flex;
   gap: 40px;
   justify-content: center;
   font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
   font-size: 1.5rem;
   font-weight: bold;
   background-color: rgb(253, 212, 137);
}

.menu li {
   padding: 16px;
   position: relative;
   cursor: pointer;
}

.menu li:hover {
   background-color: rgb(254, 202, 104);
}

ul[data-dropdown] {
   height: max-content;
   list-style: none;
   position: absolute;
   background-color: rgb(255, 128, 93);
   border: 2px solid rgb(51, 51, 51);
   /* box-shadow: 1px 1px 1px black; */
   display: none;
   grid-template-columns: 200px;
   padding: 0;
   z-index: 99;
   top: 60px;
   cursor: pointer;
   animation: anim-dropdown 0.85s;
   
}

.dropdown::before {
   content: "";
   height: 20px;
   width: 5px;
   background-color: rgb(246, 255, 0);
   position: absolute;
   top: -10px;
   left: 20px;
   z-index: 200;

}

/* .menu li:hover [data-dropdown] {
   display: grid;
} */

.menu li .ativo[data-dropdown] {
   display: grid;
}

@keyframes anim-dropdown {
   from {
      opacity: 0;
      top: 55px;
   }
   to {
      opacity: 1;
      top: 60px;
   }
}

[data-dropdown] li:hover {
   background-color: rgb(255, 110, 70);
   transition: 0.5s;
}