* {
   margin: 0;
   padding: 0;
   box-sizing: content-box;
}

.promocao-container {
   background-color: rgb(21, 5, 47);
   width: 40%;
   margin: 400px auto;
   padding: 40px;
   border-radius: 12px;
   border: 4px solid rgb(255, 110, 110);
}

.promoçao {
   color: white;
   font-size: 2rem;
}

.promoçao-dias {
   margin-top: 40px;
   color: white;
   font-size: 1.2rem ;
}